.welcome_container {
	padding-top:15px;
	padding-bottom:15px;
  /*white-space: nowrap;*/
}
/*.welcome_container > *{
  white-space: normal;
}*/

.big-button {
	font-size:2em;
}

.login-form {
	margin: 0px;
}

.login-field {
	margin-top:6px;
}

.success {
  background: #AAFFAA;
  margin: 5px 10px;
  padding: 5px;
}
.error, #registration .error > p {
  color: red;
  font-size: 10px;
  margin: 5px 10px;
  padding: 5px;
}
#registration .error, #registration .error > p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  height: 1.2em;
}
#registration{
  height: 370px;
}
#registration input {
  margin-bottom: inherit;
}
#registration .registration_field {
  margin: 10px 0;
}